<div>
    <div>
        <h1>IFSC</h1>
    </div>

    <div>
        <table style="width:100%">
            <tr>
              <th>RTGS</th>
              <th>STATE</th>
              <th>UPI</th>
              <th>DISTRICT</th>
              <th>CENTRE</th>
              <th>IMPS</th>
              <th>ADDRESS</th>
              <th>BRANCH</th>
              <th>NEFT</th>
              <th>MICR</th>
              <th>CITY</th>
              <th>CONTACT</th>
              <th>BANK</th>
              <th>BANKCODE</th>
              <th>IFSC</th>
            </tr>
            <tr>
                <td>{{ifsc.RTGS}}</td>
                <td>{{ifsc.STATE}}</td>
                <td>{{ifsc.UPI}}</td>
                <td>{{ifsc.DISTRICT}}</td>
                <td>{{ifsc.CENTRE}}</td>
                <td>{{ifsc.IMPS}}</td>
                <td>{{ifsc.ADDRESS}}</td>
                <td>{{ifsc.BRANCH}}</td>
                <td>{{ifsc.NEFT}}</td>
                <td>{{ifsc.MICR}}</td>
                <td>{{ifsc.CITY}}</td>
                <td>{{ifsc.CONTACT}}</td>
                <td>{{ifsc.BANK}}</td>
                <td>{{ifsc.BANKCODE}}</td>
                <td>{{ifsc.IFSC}}</td>
            </tr>
          </table>
    </div>
</div>