<div class="container-fluid">

    <div class="card">
      <div class="card-header">
          <h1>Personas</h1>
      </div>
  
      <div class="card-body">
        <button style="float: right" (click)="openModal()" type="button" class="btn btn-info btn-sm">Registrar Persona</button>
        <br><br>

          <table class="table table-responsive" style="width:100%">
            <thead class="thead-light">
              <tr>
                <!-- <th class="text-center">Id</th> -->
                <th class="text-center">Nombre</th>
                <th class="text-center">Apellidos</th>
                <th class="text-center">Fecha de Nacimiento</th>
                <th class="text-center">Domicilio</th>
                <th class="text-center">RFC</th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let persona of personas">
                <!-- <td class="text-center">{{persona.id}}</td> -->
                <td class="text-center">{{persona.nombre}}</td>
                <td class="text-center">{{persona.apellidos}}</td>
                <td class="text-center">{{persona.fecha_nacimiento | date : 'dd/MM/yy' : 'UTC'}}</td>
                <td class="text-center">{{persona.domicilio}}</td>
                <td class="text-center">{{persona.rfc}}</td>
                <td>
                    <button (click)="verDetallePersona(persona.id)" type="button" class="btn btn-success btn-sm">Consultar</button>
                </td>
                <td>
                    <button (click)="llenarFormulario(persona)" type="button" class="btn btn-info btn-sm">Actualizar</button>
                  </td>
                  <td>
                    <button (click)="deletePersona(persona.id)" type="button" class="btn btn-danger btn-sm">Eliminar</button>

                </td>
              </tr>
            </tbody>
            </table>
      </div>
  
      <div class="card-footer">
      </div>
    </div>
  </div>

<!-- MODAL -->
<div class="modal" tabindex="-1" id="personaModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="modal-header">
        <h5 *ngIf="update" class="modal-title">Actualizar Persona</h5>
        <h5 *ngIf="!update" class="modal-title">Registar Persona</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <form [formGroup]="formulario" (ngSubmit)="ngSubmit()">

          <div class="form-group">
            <label for="nombre">Nombre*</label>
            <input type="text" id="nombre" class="form-control" formControlName="nombre" [ngClass]="{'is-invalid': submitted && f.nombre.errors}">
            <div *ngIf="submitted && f.nombre.errors" class="invalid-feedback">
              El nombre de la persona es obligatorio
            </div>
          </div>
      
          <div class="form-group">
            <label for="apellidos">Apellidos*</label>
            <input type="text" class="form-control" formControlName="apellidos" [ngClass]="{'is-invalid': submitted && f.apellidos.errors}">
            <div *ngIf="submitted && f.apellidos.errors" class="invalid-feedback">
              Los apellidos de la persona son obligatorios
            </div>
          </div>
      
          <div class="form-group">
            <label for="fecha_nacimiento">Fecha de Nacimiento*</label>
            <input type="date" class="form-control" formControlName="fecha_nacimiento" [ngClass]="{'is-invalid': submitted && f.fecha_nacimiento.errors}">
            <div *ngIf="submitted && f.fecha_nacimiento.errors" class="invalid-feedback">
              La fecha de nacimiento de la persona es obligatoria
            </div>
          </div>
      
          <div class="form-group">
            <label for="domicilio">Domicilio*</label>
            <!-- <input type="text" class="form-control" formControlName="domicilio" [ngClass]="{'is-invalid': submitted && f.domicilio.errors}"> -->
            <select class="form-control" formControlName="domicilio" [ngClass]="{'is-invalid': submitted && f.domicilio.errors}">
              <option *ngFor="let delegacion of delegaciones" [ngValue]="delegacion.delegacion">{{delegacion.delegacion}}</option>
            </select>
            <div *ngIf="submitted && f.domicilio.errors" class="invalid-feedback">
                El domicilio de la persona es obligatorio
            </div>
          </div>
      
          <div class="form-group">
            <label for="rfc">RFC*</label>
            <input type="text" class="form-control" formControlName="rfc" [ngClass]="{'is-invalid': submitted && f.rfc.errors}">
            <div *ngIf="submitted && f.rfc.errors" class="invalid-feedback">
              El RFC de la persona es obligatorio
            </div>
          </div>

          <div>
            <button class="btn btn-dark">Guardar</button>
          </div>
      
        </form>
      </div>

      <div class="modal-footer">
        
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>