<div class="container-fluid">

    <div class="card">
      <div class="card-header">
          <h1>Personas</h1>
      </div>
  
      <div class="card-body">
          <table class="table" style="width:100%">
            <thead class="thead-light">
              <tr>
                <!-- <th class="text-center">Id</th> -->
                <th class="text-center">Nombre</th>
                <th class="text-center">Apellidos</th>
                <th class="text-center">Fecha de Nacimiento</th>
                <th class="text-center">Domicilio</th>
                <th class="text-center">RFC</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let persona of personas">
                <!-- <td class="text-center">{{persona.id}}</td> -->
                <td class="text-center">{{persona.nombre}}</td>
                <td class="text-center">{{persona.apellidos}}</td>
                <td class="text-center">{{persona.fecha_nacimiento}}</td>
                <td class="text-center">{{persona.domicilio}}</td>
                <td class="text-center">{{persona.rfc}}</td>
              </tr>
            </tbody>
            </table>
      </div>
  
      <div class="card-footer">
      </div>
    </div>
  </div>